.formBox {
   width: 70%;
   margin: 0 auto;
   border: 3px solid white;
   border-radius: 15px;
   padding: 30px;
   display: flex;
   column-gap: 15px;
}

.img {
   width: 50%;
}

.select {
   width: 30%;
}

.input {
   width: 20%;
}

.exchangeImg {
   color: white;
   font-size: 30px;
}