html {
  height: 100%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(14, 179, 52, 0.7764355742296919) 100%);
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}